<%= div_for comment do %>
  <blockquote>
    <p><%= comment.body %></p>
    <footer>Posted <cite><%= time_ago_in_words(comment.created_at) %></cite> ago | author: <cite><%= comment.author %></cite>
    </footer>
  </blockquote>
  <hr>
<% end %>

