<h2>Strona glowna</h2>
<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <% @latest_posts.each do |one_post| %>
        <tr>
          <td><%= link_to one_post.full_title, post_path(one_post.id) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
