<ul>
  <li><%= link_to 'main page', root_path %></li>
  <li><%= link_to 'blog', posts_path %></li>
  <% if user_signed_in? %>
    <li><%= link_to 'wyloguj', destroy_user_session_path %></li>
  <% end %>
</ul>
